@font-face {
  font-family: 'Road Radio Regular';

  src: url('fonts/RoadRadio.eot') format('embedded-opentype'),
  url('fonts/RoadRadio.woff') format('woff'),
  url('fonts/RoadRadio.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Graphik LCG Regular';
  src: local('Graphik LCG Regular'), local('Graphik-LCG-Regular'),
      url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
      url('fonts/GraphikLCG-Regular.woff') format('woff'),
      url('fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: 'Golos Text Medium';
//   src: local('Golos Text Medium'), local('Golos-Text-Medium'),
//       url('fonts/GolosText-Medium.woff2') format('woff2'),
//       url('fonts/GolosText-Medium.woff') format('woff'),
//       url('fonts/GolosText-Medium.ttf') format('truetype');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Golos Text Demi Bold';
//   src: local('Golos Text Demi Bold'), local('Golos-Text-Demi-Bold'),
//       url('fonts/GolosText-DemiBold.woff2') format('woff2'),
//       url('fonts/GolosText-DemiBold.woff') format('woff'),
//       url('fonts/GolosText-DemiBold.ttf') format('truetype');
//   font-weight: 600;
//   font-style: normal;
// }

@font-face {
  font-family: 'Golos Text Regular';
  src: local('Golos Text Regular'), local('Golos-Text-Regular'),
      url('fonts/GolosText-Regular.woff2') format('woff2'),
      url('fonts/GolosText-Regular.woff') format('woff'),
      url('fonts/GolosText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-Grotesk Regular';
  src: local('Akzidenz-Grotesk Pro Regular'), local('Akzidenz-Grotesk-Pro-Regular'),
      url('fonts/AkzidenzGroteskPro-Regular.woff2') format('woff2'),
      url('fonts/AkzidenzGroteskPro-Regular.woff') format('woff'),
      url('fonts/AkzidenzGroteskPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//     font-family: 'Akzidenz-Grotesk Medium';
//     src: local('Akzidenz-Grotesk Pro Medium'), local('Akzidenz-Grotesk-Pro-Medium'),
//         url('fonts/AkzidenzGroteskPro-Md.woff2') format('woff2'),
//         url('fonts/AkzidenzGroteskPro-Md.woff') format('woff'),
//         url('fonts/AkzidenzGroteskPro-Md.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
//   }